*{
  box-sizing: border-box;
}
.navbar{
  background-color: #FAFAFA;
}
body{
  padding-top: 70px;

}
.navbar-brand img{
  width: 150px;
  margin-top: 0
}
.navbar-brand{
  padding: 7px 7px 0 5px;
}
#navbar-brand{
  margin-bottom: -3px;
  margin-left: 40px;
  margin-right: 15px
}
#search-btn{
  margin-left: -2px;
}
#search-fld{
  width: 270px
}
.form-control{
  height: auto;
}
.navbar-right{
  top: 0
}
#sign-up-btn{
    padding-top: 7px;
    margin: 7px 5px;
    padding-bottom: 7px;
}
#sign-in-btn{
  text-align: center;
}
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #337ab7;
  border-radius: 10px;
}
.container-fluid.featured{
background-color: #000
}
.product-box{
  border: 1px solid grey;
  overflow: auto;
  padding: 1%;
  margin: 1%;
  display: inline-block;
  width: 100px;
  height: 250px
}

.product-box img{
width: 90%;
}

.carousel{

}
#carousel-item-img{
  margin: auto;
}
.carousel-caption h2{
  font-size: 20px
}
#my-slider img{
  height: 250px
}
#my-slider .carousel-inner .item{
  text-align: center;
}
#my-slider .carousel-indicators{
  bottom: 10px
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #fff;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 1px;
  padding-bottom: 15px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  background-color: #333333;
  opacity: 0.5;
  border-radius: 5px
}
.well.cat{
  background-color: #fff;
}
/*this is for category carousel .catCar*/
.catCar .col-sm-12{
  text-align: center;
  padding: 0
}
.carousel-control.catCar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 5%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  background-color: rgba(0, 0, 0, 0);
  filter: alpha(opacity=50);
  opacity: .5;
}
.carousel-control.left.catCar {
  right: auto;;
  left: -20px;
}
.carousel-control.right.catCar {
  right: -20px;
  left: auto;
}
.carousel-control.catCar:hover,
.carousel-control.catCar:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}
.carousel-control.catCar .icon-prev,
.carousel-control.catCar .icon-next,
.carousel-control.catCar .glyphicon-chevron-left,
.carousel-control.catCar .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}
.carousel-control.catCar .icon-prev,
.carousel-control.catCar .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control.catCar .icon-next,
.carousel-control.catCar .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.carousel-control.catCar .icon-prev,
.carousel-control.catCar .icon-next {
  width: 20px;
  height: 20px;
  font-family: serif;
  line-height: 1;
}
.carousel-control.catCar .icon-prev:before {
  content: '\2039';
}
.carousel-control.catCar .icon-next:before {
  content: '\203a';
}
.carousel-indicators.catCar {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators.catCar li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
}
.carousel-indicators.catCar .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #fff;
}
/*cart*/
.cart{

}
.cart.fixed-cart{
  position: fixed;
  top: 150px;
  right: auto;
}
.footer{
  background-color: #FAFAFA;
  margin-top: 20px;
  padding-top: 20px;
}
/*product details page*/
.product-box.product-details{
  width: 90%;
  margin: auto;
  height: 500px
}
#addToCart{
  font-size: 10px;

  margin: 0;


}
